<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
  <!--
     http://logback.qos.ch/manual/layouts.html
     %p:输出优先级，即DEBUG,INFO,WARN,ERROR,FATAL
     %r:输出自应用启动到输出该日志讯息所耗费的毫秒数
     %t:输出产生该日志事件的线程名
     %f:输出日志讯息所属的类别的类别名
     %c:输出日志讯息所属的类的全名
     %d:输出日志时间点的日期或时间，指定格式的方式： %d{yyyy-MM-dd HH:mm:ss}
     %l:输出日志事件的发生位置，即输出日志讯息的语句在他所在类别的第几行。
     %m:输出代码中指定的讯息，如log(packetMessage)中的message
     %n:输出一个换行符号
 -->
  <contextName>logback</contextName>

  <conversionRule conversionWord="color" converterClass="cn.gdrfgdrf.ConnectComputerComputer.Log.LogbackColor"/>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %color(%-5level) %class{0}: %msg%n</pattern>
    </encoder>
  </appender>

  <root level="ALL">
    <appender-ref ref="stdout"/>
  </root>

  <logger name="org.reflections" level="off" />
  <logger name="com.jediterm" level="INFO" />
</configuration>